<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Barangay Health Center Management System</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
<style>
    body {
      background-color: #a4e4bc;
   }
   .nav-link.active {
    background-color: #97e3ed;
    color: #86f0ef;
  }
  
  .nav-link:hover {
    background-color: #97e3ed;
  }
     .card-body{
    width: 100%;
} 
.btn-warning, .btn-danger, .btn-success,.btn-info,.btn-secondary,.btn-dark {
    margin-right: 10px;
    color:white;
    margin-top: 10px;
  }
.unbold {
    font-weight: normal;
  }
input[type="radio"] {
  font-weight: normal;
}
label[for="radio-1"], label[for="radio-2"] {
    font-weight: normal;
  }

               
</style>

<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-info">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/home">User Side</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
      <!-- Navbar Search-->
      <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" method="GET" action="{{ url_for('view_members', family_id=family_id) }}">
        <div class="input-group">
            <input class="form-control" type="text" name="search" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" name="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>
    
  
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <div class="container">
            <div class="row">	
                 <strong>{{session.name}} | <a href="{{ url_for('logout') }}" > Logout  </a> 
            </strong>
            </div>
            </div>
        </form>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<div id="layoutSidenav">

  <div id="layoutSidenav_nav">

      <nav class="sb-sidenav accordion sb-sidenav-light " id="sidenavAccordion">
          <div class="sb-sidenav-menu">
              <div class="nav">
                <div class="sb-sidenav-menu-heading">Home</div>
                    <a class="nav-link " href="/home">
                      <div class="sb-nav-link-icon">
                        <i class="fas fa-home" style="font-size: 24px;"></i>
                      </div>
                      Home
                    </a>
                    <div class="sb-sidenav-menu-heading">Records</div>
                    <a class="nav-link active " href="/Family">
                      <div class="sb-nav-link-icon">
                        <i class="fas fa-solid fa-book-medical" style="font-size: 24px;"></i>
                      </div>
                      Family Record
                    </a>
                   
                    <a class="nav-link"  href="/Consultation">
                      <div class="sb-nav-link-icon">
                        <i class="fas fa-file-prescription" style="font-size: 24px;"></i>
                      </div>
                      Consultation Record
                    </a>
                    <a class="nav-link" href="/Prenatal">
                      <div class="sb-nav-link-icon">
                        <i class="fas fa-female" style="font-size: 24px;"></i>
                      </div>
                      Prenatal Record
                    </a>
                    <a class="nav-link" href="/Newborn">
                      <div class="sb-nav-link-icon">
                        <i class="fas fa-baby" style="font-size: 24px;"></i>
                      </div>
                      Newborn Record
                    </a>
                   
                    <a class="nav-link" href="/Prediction">
                      <div class="sb-nav-link-icon">
                        <i class="fas fa-solid fa-heartbeat " style="font-size: 24px;"></i>
                      </div>
                      ISD Prediction Record
                    </a>
                 
                  <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                      <nav class="sb-sidenav-menu-nested nav">
                          <a class="nav-link" href="layout-static.html">Static Navigation</a>
                          <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                      </nav>
                  </div>
                  
                  <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                      <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                              Authentication
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                          </a>
                          <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                              <nav class="sb-sidenav-menu-nested nav">
                                  <a class="nav-link" href="login.html">Login</a>
                                  <a class="nav-link" href="register.html">Register</a>
                                  <a class="nav-link" href="password.html">Forgot Password</a>
                              </nav>
                          </div>
                          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                              Error
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                          </a>
                          
                      </nav>
                  </div>
                  
          </div>
      </nav>
      
  </div>

  <div id="layoutSidenav_content">
    <main>
     
        <div class="container-fluid px-4">
      
            <h4 class="mt-4">Family</h4>
            <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Patients Record</li>
        </ol>
        
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-12 my-auto">
            {%with messages = get_flashed_messages()%}
            {%if messages%}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close float-end" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>
            {%endfor%}
            {%endif%}
            {%endwith%}
            
            <div class="card">
              <div class="card-header">
                  <h4>Patients Record
                   
                  </h4>
              </div>

             

  <div class="card-body" style="overflow-x:auto;">
    <!-- End of Enter New Patient Modal -->
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          
          <th scope="col"class="text-center">ID</th>
          <th scope="col"class="text-center">Lastname</th>
          <th scope="col"class="text-center">Firstname</th>
          <th scope="col"class="text-center">Middlename</th>
          <th scope="col"class="text-center">Suffix</th>
          <th scope="col"class="text-center" >Address</th>
          <th scope="col"class="text-center">Birthday</th>
          <th scope="col"class="text-center">Age</th>
          <th scope="col"class="text-center">Sex</th>
          <th scope="col"class="text-center">Contact Number</th>
          <th scope="col"class="text-center">Review of Systems</th>
          <th scope="col"class="text-center">Past Medical History</th>
          <th scope="col"class="text-center">Family Medical History</th>
          
       
          <th scope="col"class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if message %}
        <tr>
          <td colspan="12" class="text-center">{{ message }}</td>
        </tr>
        {% else %}
          {% for row in patients_record %}
          <tr>
            
            <td class="text-center">{{ row.0 }}</td>
            <td class="text-center">{{ row.1 }}</td>
            <td class="text-center">{{ row.2 }}</td>
            <td class="text-center">{{ row.3 }}</td>
            <td class="text-center">{{ row.4 }}</td>
            <td class="text-center" style="width:30%">{{ row.5 }}</td>
            <td class="text-center">{{ row.6 }}</td>
            <td class="text-center">{{ row.7 }}</td>
            <td class="text-center">{{ row.8 }}</td>
            <td class="text-center">{{ row.9 }}</td>
          
            <td class="text-center">
              {% if row.14 %}
                {% for system in row.14.split(",") %}
                  <span>{{ system }}</span>
                {% endfor %}
              {% else %}
                <span>None</span>
              {% endif %}
            </td>
            <td class="text-center">
              {% if row.15 %}
                {% for system in row.15.split(",") %}
                  <span>{{ system }}</span>
                {% endfor %}
              {% else %}
                <span>None</span>
              {% endif %}
            </td>
            <td class="text-center">
              {% if row.16 %}
                {% for system in row.16.split(",") %}
                  <span>{{ system }}</span>
                {% endfor %}
              {% else %}
                <span>None</span>
              {% endif %}
            </td>
      
  
      <td>
        <div style="display: flex; gap: 2px;">
          <a href="/insert_consultation/{{row.0}}" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myConsult{{row.0}}">Consult</a>
          <a href="/update/{{row.0}}" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
          <a href="/delete/{{ row.0 }}" onclick="return confirm('Are You Sure You Want To Delete this Record?')" class="btn btn-danger btn-sm">Delete</a>
          <a href="/view_consultations/{{row.0}}" class="btn btn-secondary btn-sm">View </a>
          <a href="/insert_prediction/{{row.0}}" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myPredict{{row.0}}">Predict</a>&nbsp;
          <a href="/archive_patient/{{row.0}}"class="btn btn-dark btn-sm" data-toggle="modal" data-target="#myarchive{{row.0}}">Archive</a> 
      

        </div>
      </td>
  </tr>

  <!-- Enter New Consultation Modal -->
<div id="myarchive{{row.0}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
              <h5 class="modal-title text-primary" style="align-content: center;">Please Enter ID to Archive</h5>    
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>


<div class="modal-body">
  <h1>Archive Records</h1>
          {% if message %}
          <p>{{ message }}</p>
          {% endif %}
          <form action="{{ url_for('archive_patient')}}" method="POST">
            <label for="patients_id">Enter the ID to archived:</label>
            <input type="text" id="patients_id" name="patients_id">
            <input type="submit" >
          </form>
 

</div>
</div>
</div>
</div>
  <!-- End of Enter Consultation Modal -->
        

  <!-- Enter New Consultation Modal -->
  
<div id="myConsult{{row.0}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
              <h5 class="modal-title text-primary" style="align-content: center;">Please Add New Consultation</h5>    
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>


<div class="modal-body">
  
  <form action="{{ url_for('insert_consultation')}}" method="POST">
    <input type="hidden" name="patients_id" value="{{row.0}}">
   
           <div class="form-group">
              <label>Blood Pressure (Systolic)</label>
              <input type="text" name="systolic" class="form-control" id="exampleFormControlInput1" placeholder="Enter Systolic Blood Pressure" required>
            </div> <br>
            <div class="form-group">
              <label>Blood Pressure (Diastolic)</label>
              <input type="text" name="diastolic" class="form-control" id="exampleFormControlInput1" placeholder="Enter Diastolic Blood Pressure"required>
            </div> <br>
    
          <div class="form-group">
              <label>Pulse Rate</label>
              <input type="decimal" name="pulse_rate" class="form-control" id="exampleFormControlInput1" placeholder="Enter Pulse Rate"required>
            </div> <br>
            <div class="form-group">
              <label>Weight</label>
              <input type="decimal" name="weight" class="form-control" id="exampleFormControlInput1" placeholder="Enter Weight in kg"required>
            </div> <br>
            <div class="form-group">
              <label>Height</label>
              <input type="decimal" name="height" class="form-control" id="exampleFormControlInput1" placeholder="Enter Height in meters"required>
            </div> <br>
            <div class="form-group">
              <label>Temperature</label>
              <input type="decimal" name="temperature" class="form-control" id="exampleFormControlInput1" placeholder="Enter Temperature"required>
            </div> <br>
            <div class="form-group">
              <label>Allergies</label>
              <input type="text" name="allergies" class="form-control" id="exampleFormControlInput1" placeholder="Enter Allergies"required>
            </div> <br>
            <div class="form-group">
              <label>Consultation</label>
              <input type="text" name="consultation" class="form-control" id="exampleFormControlInput1" placeholder="Enter Consultation"required>
            </div> <br>
            <div class="form-group">
              <label>Date of Onset</label>
              <input type="date" name="onset_date" class="form-control" id="exampleFormControlInput1" placeholder="Enter Date of Onset"required>
            </div> <br>
            <div class="form-group">
              <label>Diagnosis</label>
              <input type="text" name="diagnosis" class="form-control" id="exampleFormControlInput1" placeholder="Enter Diagnosis"required>
            </div> <br>
            <div class="form-group">
              <label>Medicine/Treatment</label>
              <input type="text" name="medicine_treatment" class="form-control" id="exampleFormControlInput1" placeholder="Enter Consultation"required>
            </div> <br>
            <input type="hidden" name="treatment_date" value="{{row.0}}">
            <div class="form-group">
              <label>Encoder</label>
            <input type="text" value="{{ session['name'] }}" class="form-control" id="exampleFormControlInput1" readonly>
            </div> <br>
            <div class="form-group">
              <label>Remarks</label>
              <input type="text" name="remarks" class="form-control" id="exampleFormControlInput1" placeholder="Enter Remarks"required>
            </div> <br>
            <div class="form-group">
              <label> Consultant</label>
              <select name="consultant" class="form-control" id="exampleFormControlSelect1" required>
                <option value="" selected disabled>Select Consultant</option>
                <option value="Loresita A. Rebong (Nurse)">Loresita A. Rebong (Nurse)</option>
                <option value="Heidi B. Alcos (Midwife)">Heidi B. Alcos (Midwife)</option>
              </select>
            </div> <br> 
            <div class="form-group">
              <label>Treatment Date</label>
              <input type="date" name="encoded_date" class="form-control" id="exampleFormControlInput1" placeholder="Enter Encoded Date"required>
            </div> <br>
           


                <button type="submit" class="btn btn-warning mb-2 float-end">Save</button>
   
    </form>

</div>
</div>
</div>
</div>
  <!-- End of Enter Consultation Modal -->

  <!-- Enter Predict Patient Modal -->
<div id="myPredict{{row.0}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
              <h5 class="modal-title text-primary" style="align-content: center;">Predict Patient Details</h5>    
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            

            <div class="modal-body">
              
              <form id="prediction-form" action="{{ url_for('insert_prediction')}}" method="POST">
                <input type="hidden" name="patients_id" value="{{row.0}}">
                
                <label for="sex">Sex</label>
                <select id="sex" name="sex" class="form-control" disabled>
                  <option value="1" {% if row.8 == "Male" %}selected{% endif %}>Male</option>
                  <option value="0" {% if row.8 == "Female" %}selected{% endif %}>Female</option>
                </select> <br>
                
                <div class="form-group">
                  <label>Age</label>
                  <input type="text" name="age" class="form-control" id="age-input" value="{{row.7}}" readonly>
                </div>
                <br>
                
                <div class="form-group">
                  <label>Total Cholesterol (mg/dL)</label>
                  <input type="int" name="total_chol" class="form-control" id="exampleFormControlInput1" placeholder="Normal: 150-200" required>
                </div>
                <br>
                
                <div class="form-group">
                  <label>HDL Cholesterol (if available) (mg/dL)</label>
                  <input type="int" name="hdl_chol" class="form-control" id="exampleFormControlInput1" placeholder="Normal: 0-60" required>
                </div>
                <br>
                
                
                <div class="form-group">
                  <label>Systolic Blood Pressure</label>
                  <input type="text" name="systolic" class="form-control" id="age-input" value="{{row.17}}" readonly>
                </div>
                <br>
                
                <label for="smoker">Smoker</label>
                <select id="smoker" name="smoker" class="form-control" required>
                  <option value="" selected disabled>Select Smoking Status</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <br>
                
                <label for="treated_bp">Blood Pressure Being Treated with Medicines</label>
                <select id="treated_bp" name="treated_bp" class="form-control"required>
                  <option value="" selected disabled>Blood Pressure Being Treated with Medicines</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
                <br>
                
                <input type="submit" class="btn btn-info float-end mb-2" value="Predict">
              </form>
              
          </div>
      </div>
  </div>

</div>


<!-- End of Predict Patient Modal -->

      <!-- Enter Edit Patient Modal -->

      <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content-1">
     
                  <div class="modal-header">
                      <h5 class="modal-title text-primary" style="align-content: center;">Update Patient Details</h5>    
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    
  
                  <div class="modal-body">
  
                        <form action="{{ url_for('update')}}" method="POST">
                          <input type="hidden" name="patients_id" value="{{row.0}}">
                          <div class="personal-info">
                          <div class="section-title">Personal Information</div>
          
                    
                      
                          <div class="form-group row">
                            <label>Patient's Name</label>
                            <div class="col-md-4">
          
                              <input value="{{row.1}}" type="text" name="lastname" class="form-control" id="lastname" placeholder=" Lastname">
                            </div>
                            <div class="col-md-3">
                              
                              <input value="{{row.2}}"type="text" name="firstname" class="form-control" id="firstname" placeholder=" Firstname">
                            </div>
                            <div class="col-md-3">
                             
                              <input value="{{row.3}}"type="text" name="middlename" class="form-control" id="middlename" placeholder=" Middlename ">
                            </div>
                            <div class="col-md-2">
                              
                              <input value="{{row.4}}"type="text" name="suffix" class="form-control" id="suffix"  style="width:60px;">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-md-12">
                              <br> <label for="address">Address</label>
                              <input value="{{row.5}}"type="text" name="address" class="form-control" id="address" placeholder="Enter Complete Address">
                            </div>
                          </div>
                          
                         
                            <div class="col-md-12 form-group">
                            <br>  <label> Birthdate</label>
                               <input value="{{row.6}}" type="date" name="birthday" class="form-control" placeholder="Enter Birthday" onchange="calculateAge()"> 
                            </div>
        
                            <div class="col-md-4 form-group">
                              <label>Sex</label> <br>
                              <input value="Male" type="radio" id="radio-1" name="sex" {% if row.8 == "Male" %}checked{% endif %}>
                                <label for="radio-1">Male</label> <br>
                              <input value="Female" type="radio" id="radio-2" name="sex" {% if row.8 == "Female" %}checked{% endif %}>
                                <label for="radio-2">Female</label> <br> 
                              </div>
                            <div class="col-md-12 form-group">
                            <br>  <label>Contact Number </label>
                              <input value="{{row.9}}" type="text" name="contact_no" class="form-control" placeholder="Enter Contact Number">
                            </div> <br>
                            </div>
                            <div class="personal-info">
                            <div class="section-title">Medical Information</div>
                            <div class="form-group row">
                              <div class="col-md-4">
                                <label>Review of Systems</label>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="systems" value="Fever" id="fever" {% if 'Fever' in row.14 %}checked{% endif %}>
                                  <label class="form-check-label" for="fever">Fever</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="systems" value="Cough/Colds" id="cough/colds" {% if 'Cough/Colds' in row.14 %}checked{% endif %}>
                                  <label class="form-check-label" for="cough/colds">Cough/Colds</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="systems" value="Abdominal Pain" id="abdominal pain" {% if 'Abdominal Pain' in row.14 %}checked{% endif %}>
                                  <label class="form-check-label" for="abdominal pain">Abdominal Pain</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="systems" value="Diarrhea" id="diarrhea" {% if 'Diarrhea' in row.14 %}checked{% endif %}>
                                  <label class="form-check-label" for="diarrhea">Diarrhea</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="systems" value="Constipation" id="constipation" {% if 'Constipation' in row.14 %}checked{% endif %}>
                                  <label class="form-check-label" for="constipation">Constipation</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="systems" value="Pain on Urination" id="pain on urination" {% if 'Pain on Urination' in row.14 %}checked{% endif %}>
                                  <label class="form-check-label" for="pain on urination">Pain on Urination</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="systems" value="Others" id="others" {% if 'Others' in row.14 %}checked{% endif %}>
                                  <label class="form-check-label" for="others">Others</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="systems" value="None" id="none" {% if 'None' in row.14 %}checked{% endif %}>
                                  <label class="form-check-label" for="none">None</label>
                                </div>
                              </div>
                              
                              
                              <div class="col-md-4">
                                <label>Past Medical History</label>
                               
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="past_medical" value="Diabetes Mellitus" id="diabetes mellitus" {% if 'Diabetes Mellitus' in row.15 %}checked{% endif %}>
                                    <label class="form-check-label" for="diabetes mellitus"> Diabetes Mellitus</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="past_medical" value="Hypertension" id="hypertension" {% if 'Hypertension' in row.15 %}checked{% endif %}>
                                  <label class="form-check-label" for="hypertension">Hypertension</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="past_medical" value="Asthma" id="asthma"  {% if 'Asthma' in row.15 %}checked{% endif %}>
                                <label class="form-check-label" for="asthma">Asthma</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="past_medical" value="Heart Disease" id="heart disease" {% if 'Heart Disease' in row.15 %}checked{% endif %}>
                                <label class="form-check-label" for="heart disease">Heart Disease</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="past_medical" value="Liver Disease" id="liver disease" {% if 'Liver Disease' in row.15 %}checked{% endif %}>
                                <label class="form-check-label" for="heart disease">Liver Disease</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="past_medical" value="Kidney Disease" id="kidney disease"  {% if 'Kidney Disease' in row.15 %}checked{% endif %}>
                                <label class="form-check-label" for="kidney disease">Kidney Disease</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="past_medical" value="Allergy" id="allergy" {% if 'Allergy' in row.15 %}checked{% endif %}>
                                <label class="form-check-label" for="allergy">Allergy</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="past_medical" value="PTB" id="ptb" {% if 'PTB' in row.15 %}checked{% endif %}>
                                <label class="form-check-label" for="ptb">PTB</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="past_medical" value="Cancer" id="cancer" {% if 'Cancer' in row.15 %}checked{% endif %}>
                                <label class="form-check-label" for="cancer">Cancer</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="past_medical" value="History of Surgery" id="history surgery"  {% if 'History of Surgery' in row.15 %}checked{% endif %}>
                                <label class="form-check-label" for="history surgery">History of Surgery</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="past_medical" value="Others" id="others" {% if 'Others' in row.15 %}checked{% endif %}>
                                <label class="form-check-label" for="others">Others</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="past_medical" value="None" id="None" {% if 'None' in row.15 %}checked{% endif %}>
                                <label class="form-check-label" for="none">None</label>
                              </div>
                                </div>
                                <div class="col-md-4">
                                  <label>Family Medical History</label>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="family_medical" value="Diabetes Mellitus" id="diabetes mellitus" {% if ' Diabetes Mellitus' in row.16 %}checked{% endif %}>
                                    <label class="form-check-label" for="diabetes mellitus">Diabetes Mellitus</label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="family_medical" value="Hypertension" id="hypertension"  {% if 'Hypertension' in row.16 %}checked{% endif %}>
                                  <label class="form-check-label" for="hypertension">Hypertension</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="family_medical" value="Asthma" id="asthma"{% if 'Asthma' in row.16 %}checked{% endif %}>
                                <label class="form-check-label" for="asthma">Asthma</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="family_medical" value="Heart Disease" id="heart disease"{% if 'Heart Disease' in row.16 %}checked{% endif %}>
                                <label class="form-check-label" for="heart disease">Heart Disease</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="family_medical" value="Liver Disease" id="liver disease"{% if 'Liver Disease' in row.16 %}checked{% endif %}>
                                <label class="form-check-label" for="liver disease">Liver Disease</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="family_medical" value="Kidney Disease" id="kidney disease"{% if 'Kidney Disease' in row.16 %}checked{% endif %}>
                                <label class="form-check-label" for="kidney disease">Kidney Disease</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="family_medical" value="Allergy" id="allergy"{% if 'Allergy' in row.16 %}checked{% endif %}>
                                <label class="form-check-label" for="allergy">Allergy</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="family_medical" value="PTB" id="ptb" {% if 'PTB' in row.16 %}checked{% endif %}>
                                <label class="form-check-label" for="ptb">PTB</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="family_medical" value="Cancer" id="cancer"{% if 'Cancer' in row.16 %}checked{% endif %}>
                                <label class="form-check-label" for="cancer">Cancer</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="family_medical" value="History of Surgery" id="history surgery"{% if 'History of Surgery' in row.16 %}checked{% endif %}>
                                <label class="form-check-label" for="history surgery">History of Surgery</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="family_medical" value="Others" id="others"{% if 'Others' in row.16 %}checked{% endif %}>
                                <label class="form-check-label" for="others">Others</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="family_medical" value="None" id="None"{% if 'None' in row.16 %}checked{% endif %}>
                                <label class="form-check-label" for="none">None</label>
                              </div>
                                  
                                  </div>
                              </div>
                            </div> 
          
                        
                            <div class="form-group"> <button type="submit" class="btn btn-success float-end mb-2">Update</button>
                     
                          </form>
  
                  </div>
              </div>
          </div>
  
      </div>
  
  
<!-- End of Edit Patient Modal -->



      {% endfor %}
      {% endif %}
    </tbody>
  </table>
    <div class="pagination justify-content-center">
      {{ pagination.links }}
    </div>
  
  </div>
    
  <!-- Content ends here-->


          <div class="col-sm-2"></div>

      </div>
  </div>
</div>
</div>
</main>
</div>
</div>



<script>
const navLinks = document.querySelectorAll('.nav-link');
for (let i = 0; i < navLinks.length; i++) {
navLinks[i].addEventListener('click', function() {
for (let j = 0; j < navLinks.length; j++) {
navLinks[j].classList.remove('active');
}
this.classList.add('active');
});
}
</script>


<script>
  function calculateAge() {
    var birthday = new Date(document.getElementsByName("birthday")[0].value);
    var today = new Date();
    var age = today.getFullYear() - birthday.getFullYear();
    if (today.getMonth() < birthday.getMonth() || (today.getMonth() == birthday.getMonth() && today.getDate() < birthday.getDate())) {
      age--;
    }
    document.getElementsByName("age")[0].value = age;
  }
</script>
<script>
  // Get the birthdate input field and the age input field
  const birthdateInput = document.getElementById('birthdate');
  const ageInput = document.getElementById('age');

  // Calculate age based on birthdate
  function calculateAge() {
    const birthdate = new Date(birthdateInput.value);
    const today = new Date();
    let age = today.getFullYear() - birthdate.getFullYear();
    const monthDiff = today.getMonth() - birthdate.getMonth();
    if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthdate.getDate())) {
      age--;
    }
    // Set the value of the age input field with the calculated age
    ageInput.value = age;
  }

  // Listen to changes in the birthdate input field
  birthdateInput.addEventListener('change', calculateAge);
</script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="static/js/datatables-simple-demo.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    


</body>
</html>