<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Barangay Health Center Management System</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        
</head>



<style>
    body {
      background-color: #a4e4bc;
   }
   .nav-link.active {
    background-color: #97e3ed;
    color: #86f0ef;
  }
  
  .nav-link:hover {
    background-color: #97e3ed;
  }
     .card-body{
    width: 100%;
} 
.btn-warning, .btn-danger, .btn-success,.btn-info {
    margin-right: 10px;
    color:white;
    margin-top: 10px;
  }
.unbold {
    font-weight: normal;
  }
input[type="radio"] {
  font-weight: normal;
}
label[for="radio-1"], label[for="radio-2"] {
    font-weight: normal;
  }
.form-check-label{
  font-weight: normal;
}
               
</style>

<body class="sb-nav-fixed">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-info">
      <!-- Navbar Brand-->
      <a class="navbar-brand ps-3" href="index.html">User Side</a>
      <!-- Sidebar Toggle-->
      <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
      
      <!-- Navbar-->
      <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
          <div class="container">
              <div class="row">	
                <!--ibabalik yung session name at log out button dito-->
              </strong>
              </div>
              </div>
          </form>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>

<div id="layoutSidenav">

  <div id="layoutSidenav_nav">

      <nav class="sb-sidenav accordion sb-sidenav-light " id="sidenavAccordion">
          <div class="sb-sidenav-menu">
              <div class="nav">
                <div class="sb-sidenav-menu-heading">Home</div>
                    <a class="nav-link " href="/home">
                      <div class="sb-nav-link-icon">
                        <i class="fas fa-home" style="font-size: 24px;"></i>
                      </div>
                      Home
                    </a>
                    <div class="sb-sidenav-menu-heading">Records</div>
                    <a class="nav-link " href="/Family">
                      <div class="sb-nav-link-icon">
                        <i class="fas fa-solid fa-book-medical" style="font-size: 24px;"></i>
                      </div>
                      Family Record
                    </a>
                    
                    
                    <a class="nav-link "  href="/Consultation">
                      <div class="sb-nav-link-icon">
                        <i class="fas fa-file-prescription" style="font-size: 24px;"></i>
                      </div>
                      Consultation Record
                    </a>
                    <a class="nav-link" href="/Prenatal">
                      <div class="sb-nav-link-icon">
                        <i class="fas fa-female" style="font-size: 24px;"></i>
                      </div>
                      Prenatal Record
                    </a>
                    <a class="nav-link" href="/Newborn">
                      <div class="sb-nav-link-icon">
                        <i class="fas fa-baby" style="font-size: 24px;"></i>
                      </div>
                      Newborn Record
                    </a>
                    
                    <a class="nav-link" href="/Prediction">
                      <div class="sb-nav-link-icon">
                        <i class="fas fa-solid fa-heartbeat " style="font-size: 24px;"></i>
                      </div>
                      ISD Prediction Record
                    </a>
                 
                  <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                      <nav class="sb-sidenav-menu-nested nav">
                          <a class="nav-link" href="layout-static.html">Static Navigation</a>
                          <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                      </nav>
                  </div>
                  
                  <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                      <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                              Authentication
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                          </a>
                          <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                              <nav class="sb-sidenav-menu-nested nav">
                                  <a class="nav-link" href="login.html">Login</a>
                                  <a class="nav-link" href="register.html">Register</a>
                                  <a class="nav-link" href="password.html">Forgot Password</a>
                              </nav>
                          </div>
                          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                              Error
                              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                          </a>
                          
                      </nav>
                  </div>
                  
          </div>
      </nav>
      
  </div>

  <div id="layoutSidenav_content">
    <main>
     
        <div class="container-fluid px-4">
      
            <h4 class="mt-4">Newborn</h4>
            <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">View All Immunization Records</li>
        </ol>
        
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-12 my-auto">
            {%with messages = get_flashed_messages()%}
            {%if messages%}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close float-end" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>
            {%endfor%}
            {%endif%}
            {%endwith%}
            
          
            <div class="card">
              <div class="card-header">
      <div class="card-body" style="overflow-x:auto;">

       

        <table id="immunization-table" class="table table-bordered table-hover ">

          <thead>
            <tr>
             
              
              <th scope="col" class="text-center">Weight (lbs)</th>
              <th scope="col" class="text-center">Height (cm)</th>
              <th scope="col" class="text-center">Immunization</th>
              <th scope="col" class="text-center">Status</th>
              <th scope="col" class="text-center">Reason of Deferral (if deferred)</th>
              <th scope="col" class="text-center">Dose</th>
              <th scope="col" class="text-center">Immunization Date</th>
              <th scope="col" class="text-center">Date Encoded</th>
              <th scope="col" class="text-center">Route</th>
              <th scope="col" class="text-center">Encoder</th>
              <th scope="col" class="text-center">Consultant</th>
            
              <th scope="col" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for row in immunization_record %}
              <tr>
            
                <td class="text-center">{{ row[2] }}</td>
                <td class="text-center">{{ row[3] }}</td>
                <td class="text-center">{{ row[4] }}</td>
                <td class="text-center {% if row[11] == 'Vaccinated' %}text-success{% elif row[11] == 'Deferred' %}text-danger{% endif %}">
                  {{ row[11] }}
                </td>                
                <td class="text-center">{{ row[12] }}</td>
                <td class="text-center">{{ row[5] }}</td>
                <td class="text-center">{{ row[7] }}</td>
                <td class="text-center">{{ row[6] }}</td>
                <td class="text-center">{{ row[10] }}</td>
                <td class="text-center">{{ row[8] }}</td>
                <td class="text-center">{{ row[9] }}</td>
                <td>
                  <div style="display: flex; gap: 5px;">
                    <a href="/update_view_immunization/{{row[0]}}" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myViewImmunizationedit{{row[0]}}">Edit</a>
                    <a href="/delete_immunization/{{row[0] }}" onclick="return confirm('Are You Sure You Want To Delete this Record?')" class="btn btn-danger btn-sm">Delete</a>

                  </div>
                </td>
              </tr>
  <!-- Enter New Patient Modal -->
  <div id="myViewImmunizationedit{{row[0]}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title text-primary" style="align-content: center;">Update Immunization Details</h5>    
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              

            <div class="modal-body">
                
                <form action="{{ url_for('update_view_immunization')}}" method="POST">
                        <input type="hidden" name="id" value="{{row.1}}">
                        <input type="hidden" name="immunization_number" value="{{row.0}}">
                        <div class="form-group">
                          <label>Weight (in pounds)</label>
                          <input value="{{row.2}}" type="decimal" name="weight" class="form-control" id="exampleFormControlInput1"placeholder="Enter Weight">
                        </div> <br>
                        <div class="form-group">
                          <label>Length (in centimeters)</label>
                          <input value="{{row.3}}" type="decimal" name="height" class="form-control" id="exampleFormControlInput1" placeholder="Enter Pulse Rate">
                        </div> <br>
                        <div class="form-group">
              
                          <label>Immunization</label>
                          <select name="immunization" class="form-control" id="exampleFormControlSelect1">
                            <option value="" selected disabled>Select Immunization</option>
                            <option value="BCG"{% if row.4== 'BCG' %}selected{% else %}{% endif %}>BCG</option>
                            <option value="Hepatitis B"{% if row.4== 'Hepatitis B' %}selected{% else %}{% endif %}>Hepatitis B</option>
                            <option value="Penta 1"{% if row.4== 'Penta 1' %}selected{% else %}{% endif %}>Penta 1</option>
                            <option value="Penta 2"{% if row.4== 'Penta 2' %}selected{% else %}{% endif %}>Penta 2</option>
                            <option value="Penta 3"{% if row.4== 'Penta 3' %}selected{% else %}{% endif %}>Penta 3</option>
                            <option value="OPV 1"{% if row.4== 'OPV 1' %}selected{% else %}{% endif %}>OPV 1</option>
                            <option value="OPV 2"{% if row.4== 'OPV 2' %}selected{% else %}{% endif %}>OPV 2</option>
                            <option value="OPV 3"{% if row.4== 'OPV 3' %}selected{% else %}{% endif %}>OPV 3</option>
                            <option value="IPV 1"{% if row.4== 'IPV 1' %}selected{% else %}{% endif %}>IPV 1</option>
                            <option value="IPV 2"{% if row.4== 'IPV 2' %}selected{% else %}{% endif %}>IPV 2</option>
                            <option value="PCV 1"{% if row.4== 'PCV 1' %}selected{% else %}{% endif %}>PCV 1</option>
                            <option value="PCV 2"{% if row.4== 'PCV 2' %}selected{% else %}{% endif %}>PCV 2</option>
                            <option value="PCV 3"{% if row.4== 'PCV 3' %}selected{% else %}{% endif %}>PCV 3</option>
                            <option value="MCV 1"{% if row.4== 'MCV 1' %}selected{% else %}{% endif %}>MCV 1</option>
                            <option value="MCV 2"{% if row.4== 'MCV 2' %}selected{% else %}{% endif %}>MCV 2</option>
                            <option value="Vitamin A Supplementation (6-11 months)"{% if row.4== 'Vitamin A Supplementation (6-11 months)' %}selected{% else %}{% endif %}>Vitamin A Supplementation (6-11 months)</option>
                            <option value="Vitamin A Supplementation (12-59 months[1])"{% if row.4== 'Vitamin A Supplementation (12-59 months[1])' %}selected{% else %}{% endif %}>Vitamin A Supplementation (12-59 months[1])</option>
                            <option value="Vitamin A Supplementation (12-59 months[2])"{% if row.4== 'Vitamin A Supplementation (12-59 months[2])' %}selected{% else %}{% endif %}>Vitamin A Supplementation (12-59 months[2])</option>
                           
                          </select>
                      </div> <br>
                      <div class="form-group">
              
                        <label>Status</label>
                        <select name="status" class="form-control" id="exampleFormControlSelect1">
                          <option value="" selected disabled>Status (Vaccinated/Deferred)</option>
                          
                          <option value="Vaccinated"{% if row.11== 'Vaccinated' %}selected{% else %}{% endif %}>Vaccinated</option>
                          <option value="Deferred"{% if row.11== 'Deferred' %}selected{% else %}{% endif %}>Deferred</option>
                          
                        </select>
                    </div> <br>
                    <div class="form-group">
                      <label> Reason of Deferral (if deffered)</label>
                      <input value="{{row.12}}"type="text" name="reason" class="form-control" id="exampleFormControlInput1" placeholder="Enter Reason of Deferral">
                    </div> <br>
         
                        <div class="form-group">
                          <label>Dose (in ml)</label>
                          <input value="{{row.5}}" type="decimal" name="dose" class="form-control" id="exampleFormControlInput1" placeholder="Enter Dosage in ml">
                        </div> <br>
                        <div class="form-group">
                          <label for="route">Route</label>
                          <select name="route" class="form-control" id="route">
                            <option value="" disabled selected>Select Route</option>
                            <option value="Oral" {% if row.10 == 'Oral' %}selected{% endif %}>Oral</option>
                            <option value="Left Deltoid (Intradermal)" {% if row.10 == 'Left Deltoid (Intradermal)' %}selected{% endif %}>Left Deltoid (Intradermal)</option>
                            <option value="Left Deltoid (Intramuscular)" {% if row.10 == 'Left Deltoid (Intramuscular)' %}selected{% endif %}>Left Deltoid (Intramuscular)</option>
                            <option value="Left Deltoid (Subcutaneous)" {% if row.10 == 'Left Deltoid (Subcutaneous)' %}selected{% endif %}>Left Deltoid (Subcutaneous)</option>
                            <option value="Right Deltoid (Intradermal)" {% if row.10 == 'Right Deltoid (Intradermal)' %}selected{% endif %}>Right Deltoid (Intradermal)</option>
                            <option value="Right Deltoid (Intramuscular)" {% if row.10 == 'Right Deltoid (Intramuscular)' %}selected{% endif %}>Right Deltoid (Intramuscular)</option>
                            <option value="Right Deltoid (Subcutaneous)" {% if row.10 == 'Right Deltoid (Subcutaneous)' %}selected{% endif %}>Right Deltoid (Subcutaneous)</option>
                            <option value="Left Thigh (Intramuscular)" {% if row.10 == 'Left Thigh (Intramuscular)' %}selected{% endif %}>Left Thigh (Intramuscular)</option>
                            <option value="Right Thigh (Intramuscular)" {% if row.10 == 'Right Thigh (Intramuscular)' %}selected{% endif %}>Right Thigh (Intramuscular)</option>
                          </select>
                        </div> </br>
                        
                           
                         <div class="form-group">
                          <label>Immunization Date</label>
                          <input value="{{row.7}}"type="date" name="encoded" class="form-control" id="exampleFormControlInput1" placeholder="Enter Immunization Date">
                       </div> <br>
                         <div class="form-group">
                          <label>Encoder</label>
                        <input type="text" value="{{ session['name'] }}" class="form-control" id="exampleFormControlInput1" readonly>
                        </div> <br>
                        <div class="form-group">
                          <label>Consultant</label>
                          <select name="consultant" class="form-control" id="exampleFormControlSelect1">
                            <option value="" selected disabled>Select Consultant</option>
                            <option value="Loresita Amoranto Rebong (Nurse)"{% if row.9== 'Loresita Amoranto Rebong (Nurse)' %}selected="selected"{% endif %}>Loresita Amoranto Rebong (Nurse)</option>
                            <option value="Heidi Buera Alcos (Midwife)"{% if row.9== 'Heidi Buera Alcos (Midwife)' %}selected="selected"{% endif %}>Heidi Buera Alcos (Midwife)</option>
                          </select>
                        </div> </br>
                        
                      <div class="form-group"> <button type="submit" class="btn btn-success float-end mb-2">Update</button>
             
              </form>

            </div>
        </div>
    </div>

</div>


<!-- End of Edit Patient Modal -->

      {% endfor %}
  
</table>

    <div class="pagination justify-content-center">
      {{ pagination.links }}
    </div>
</div>





          <!-- Content ends here-->


          <div class="col-sm-2"></div>

      </div>
  </div>
</div>
</div>
</main>
</div>
</div>
</div>
</div>
</div>


<script>
const navLinks = document.querySelectorAll('.nav-link');
for (let i = 0; i < navLinks.length; i++) {
navLinks[i].addEventListener('click', function() {
for (let j = 0; j < navLinks.length; j++) {
navLinks[j].classList.remove('active');
}
this.classList.add('active');
});
}
</script>

<script>
  document.getElementById("download-pdf").addEventListener("click", () => {
    const doc = new jsPDF();
    doc.autoTable({ html: "#immunization-table" });
    doc.save("immunization.pdf");
  });
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="static/js/datatables-simple-demo.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    


</body>
</html>